* {
    background-color: rgb(27, 27, 27);
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.imgheader {
    width: 154px;
    border: 15px;
    background-color: black;

}

header {
    background-color: black;
    max-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

}

a {
    padding: 4px;
    margin: 20px;
    text-decoration: none;
    color: white;
    background-color: black;
}

.a-buttons {
    margin: 100px;
    background-color: black;
}

#hero {

    margin-top: 100px;
    padding: 90px 130px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.hero-title {
    font-size: 70px;
    font-weight: 800;
    color: white;
    border: 10px;
}

.hero-text {
    font-size: 25px;
    font-weight: 300;
    color: white;
    border: 10px;
}

.hero-button {
    padding: 10px 120px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    background-color: rgb(8, 8, 8);
}

.text-info {
    font-size: 15px;
    font-weight: 200;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;




}